<style>
  .footer {
    margin: auto;
    width: 60%;
  }

  .footer-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .footer-links > div {
    margin: 1em;
  }
</style>

<div class="footer">
  <div class="footer-links">
    <div>
      <a href="https://github.com/codefordallas">Github</a>
    </div>
    <div>
      <a href="#">LinkedIn</a>
    </div>
    <div>
      <a href="#">Twitter</a>
    </div>
    <div>
      <a href="#">Facebook</a>
    </div>
    <div>
      <a href="#">Insta</a>
    </div>
    <div>
      <a href="#">TikTok</a>
    </div>
    <div>
      <a href="#">YouTube</a>
    </div>
  </div>
</div>
