#about {
  padding: 2em;
  background-color: #f9f9f9;
  color: #333;
}

#about h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

#about p {
  font-size: 1.2em;
  line-height: 1.5;
}

#about h3 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}