<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body>
    <header>
        <div class="header_logo_div">
            <img class="header_logo_image" src="https://lh5.googleusercontent.com/QRcn79n6E2Q8CjR3TCFbcZCC2EbtFslQXSn5wbGXM4y78mKGp744OKK-6G0aHfE1whWLCWLua3oxSk7WArW6W78=w16383"/>
            <div class="header_logo">Code for Dallas</div>
        </div>
        <div class="header_menu">
            <ul class="header_menu_list">
                <li class="header_menu_item">
                    <a href="" class="header_menu_link">About</a>
                </li>
                <li class="header_menu_item">
                    <a href="" class="header_menu_link">Projects</a>
                </li>
                <li class="header_menu_item">
                    <a href="" class="header_menu_link">Donations</a>
                </li>
                <li class="header_menu_item">
                    <a href="" class="header_menu_link">Contact</a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>
