header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo_div {
    display: flex;
    align-items: center;
}

.header_logo_image {
    height: 2em;
}

.header_menu_list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.header_menu_item {
    list-style: none;
}
